### Android ###
*.iml
.gradle/
/local.properties
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/

### IDE ###
/.idea/
!/.idea/runConfigurations/
.DS_Store

### Keys & Secrets ###
local.properties
google-services.json
*.keystore
*.jks

### Kotlin/Java ###
*.class
*.jar
*.aar
